.container {
  position: relative;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.img {
  object-fit: contain;
}

.screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.film {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
